[submodule "refs/codex"]
	path = refs/codex
	url = https://github.com/openai/codex
[submodule "refs/pi-mono"]
	path = refs/pi-mono
	url = https://github.com/badlogic/pi-mono
[submodule "refs/howcode"]
	path = refs/howcode
	url = https://github.com/IgorWarzocha/howcode.git
